.App{
  overflow:auto;
  background-color: #130f40;
  background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
  color: aliceblue;
}
.row{
  margin-top: 2%;
}
.col{
  margin-top: 2%;
}
.mainContent{
  text-align: center;
}